@model Searches

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your search for @Model.Symbol</h1>

@*Quite a bit of logic here I think. Maybe better to do in C# and just display here*@
