@model UserViewModel

@{
    ViewData["Title"] = "Index";
}
<h1>Hello, @Model.User.FirstName  @Model.User.LastName</h1>

<head>

</head>
<body>
    @foreach (var item in Model.Stocks)
    {
        <table>
            <tr>
                <td>
                    @item.StockSymbol
                </td>
                <td>
                    @item.PurchaseDate
                </td>
                @*something with the stock's current value here?*@
            </tr>
        </table>
    }
</body>